<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div id="message" class="alert alert-dismissable" style="display: none; margin-bottom: 10px;"></div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            @if (TempData["Result"] == null)
                {
                    // kein Resultat
                    <text>$("#message").hide();</text>
                }
                else
                {
                    if(TempData["Result"].Equals("Done"))
                    {
                        //positives Resultat
                        <text>
            $("#message").removeClass("alert-danger").addClass("alert-success");
            $("#message").html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button><span class='glyphicon glyphicon-ok'></span> " + "@Html.Raw(TempData["Message"])");
            $("#message").show();
            </text>
                    }
                    else
                    {
                        //negateives Resultat
                        <text>
            $("#message").addClass("alert-danger").removeClass("alert-success");
            $("#message").html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button><span class='glyphicon glyphicon-remove'></span> " + "@Html.Raw(TempData["Message"])");
            $("#message").show();
            </text>
                    }
                }
        });
    </script>
</body>
</html>